.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  grid-auto-flow: column;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 768px) {
  .embla {
    --slide-size: 50%;
  }
}