@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "./fonts.css";
@import "./colors.css";
@import "./embla.css";

@plugin 'tailwind-scrollbar';

body {
  @apply font-inter;
}