@layer utilities {
  .hero-container {
      background: 
  radial-gradient(
    circle,
    var(--color-black) 0%,
    var(--color-black) 20%,
    var(--color-secondary) 40%,
    var(--color-secondary) 60%,
    var(--color-black) 80%,
    var(--color-black) 100%
  );
      background-size: 500% 600%;
      animation: backgroundAnimation 50s linear infinite;
  }
}

  @keyframes backgroundAnimation {
  0%   { background-position: 0% 10% }
  20%  { background-position: 25% 25% }
  40%  { background-position: 80% 75% }
  60%  { background-position: 100% 85% }
  80%  { background-position: 25% 65% }
  100% { background-position: 0% 10% }
}